// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
  width: 100px;
  height: 20px;
  color: #00aced;
  text-align: center;
  padding: 5 5 5 5;

}
